@charset "UTF-8";

.box {
    width: 20rem;
    height: 20rem;
    border: 1px solid #000;
}

.accept {
    background-color: green;
    color: white;
}

.error {
    background-color: red;
    color: white;
}